ClienteMTIS/ClienteMTIS/Web References/Empleado/Empleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mtis.org/Empleado/" name="Empleado" targetNamespace="http://www.mtis.org/Empleado/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mtis.org/Empleado/">
      <xsd:element name="nuevo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DNI" type="xsd:string" />
            <xsd:element name="nombre" type="xsd:string" />
            <xsd:element name="apellidos" type="xsd:string" />
            <xsd:element name="direccion" type="xsd:string" />
            <xsd:element name="poblacion" type="xsd:string" />
            <xsd:element name="telefono" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
            <xsd:element name="nacimiento" type="xsd:date" />
            <xsd:element name="NSS" type="xsd:string" />
            <xsd:element name="IBAN" type="xsd:string" />
            <xsd:element name="SoapKey" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nuevoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allOK" type="xsd:boolean" />
            <xsd:element name="errors" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="borrar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DNI" type="xsd:string" />
            <xsd:element name="SoapKey" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="borrarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allOK" type="xsd:boolean" />
            <xsd:element name="errors" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modificar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DNI" type="xsd:string" />
            <xsd:element name="SoapKey" type="xsd:string" />
            <xsd:element name="nombre" type="xsd:string" />
            <xsd:element name="apellidos" type="xsd:string" />
            <xsd:element name="direccion" type="xsd:string" />
            <xsd:element name="poblacon" type="xsd:string" />
            <xsd:element name="nacimiento" type="xsd:date" />
            <xsd:element name="telefono" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
            <xsd:element name="NSS" type="xsd:string" />
            <xsd:element name="IBAN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modificarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allOK" type="xsd:boolean" />
            <xsd:element name="errors" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DNI" type="xsd:string" />
            <xsd:element name="SoapKey" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allOK" type="xsd:boolean" />
            <xsd:element name="nombre" type="xsd:string" />
            <xsd:element name="apellidos" type="xsd:string" />
            <xsd:element name="direccion" type="xsd:string" />
            <xsd:element name="poblacion" type="xsd:string" />
            <xsd:element name="telefono" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
            <xsd:element name="nacimiento" type="xsd:date" />
            <xsd:element name="NSS" type="xsd:string" />
            <xsd:element name="DNI" type="xsd:string" />
            <xsd:element name="IBAN" type="xsd:string" />
            <xsd:element name="errors" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nuevoResponse">
    <wsdl:part name="parameters" element="tns:nuevoResponse" />
  </wsdl:message>
  <wsdl:message name="borrarRequest">
    <wsdl:part name="parameters" element="tns:borrar" />
  </wsdl:message>
  <wsdl:message name="borrarResponse">
    <wsdl:part name="parameters" element="tns:borrarResponse" />
  </wsdl:message>
  <wsdl:message name="modificarRequest">
    <wsdl:part name="parameters" element="tns:modificar" />
  </wsdl:message>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="nuevoRequest">
    <wsdl:part name="parameters" element="tns:nuevo" />
  </wsdl:message>
  <wsdl:message name="consultarRequest">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="modificarResponse">
    <wsdl:part name="parameters" element="tns:modificarResponse" />
  </wsdl:message>
  <wsdl:portType name="Empleado">
    <wsdl:operation name="nuevo">
      <wsdl:input message="tns:nuevoRequest" />
      <wsdl:output message="tns:nuevoResponse" />
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <wsdl:input message="tns:borrarRequest" />
      <wsdl:output message="tns:borrarResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <wsdl:input message="tns:modificarRequest" />
      <wsdl:output message="tns:modificarResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarRequest" />
      <wsdl:output message="tns:consultarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpleadoSOAP" type="tns:Empleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevo">
      <soap:operation soapAction="http://www.mtis.org/Empleado/nuevo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <soap:operation soapAction="http://www.mtis.org/Empleado/borrar" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <soap:operation soapAction="http://www.mtis.org/Empleado/modificar" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://www.mtis.org/Empleado/consultar" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleado">
    <wsdl:port name="EmpleadoSOAP" binding="tns:EmpleadoSOAP">
      <soap:address location="http://localhost:9080/Practica1/services/Empleado/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>